<div class="jumbotron">
    <h1>DEMO CRUD</h1>
    <h2>Web API en ASP.NET con ADO.Net</h2>   
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Demo</h3>
        <p>Crear Web API en ASP.NET con ADO.Net usando Visual Studio 2019.</p>
        
    </div>
    <div class="col-md-4">
        <h3>SQL Server 2019</h3>
        
    </div>
 
</div>
